<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deao.dal.dao.auto.EduMajorModelMapper" >
  <resultMap id="BaseResultMap" type="com.deao.dal.daomain.auto.EduMajorModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="major_code" property="majorCode" jdbcType="VARCHAR" />
    <result column="major_name" property="majorName" jdbcType="VARCHAR" />
    <result column="major_big_category" property="majorBigCategory" jdbcType="VARCHAR" />
    <result column="major_big_category_values" property="majorBigCategoryValues" jdbcType="VARCHAR" />
    <result column="major_category" property="majorCategory" jdbcType="VARCHAR" />
    <result column="major_category_values" property="majorCategoryValues" jdbcType="VARCHAR" />
    <result column="stu_faculty" property="stuFaculty" jdbcType="VARCHAR" />
    <result column="stu_faculty_values" property="stuFacultyValues" jdbcType="VARCHAR" />
    <result column="edu_type" property="eduType" jdbcType="VARCHAR" />
    <result column="edu_type_values" property="eduTypeValues" jdbcType="VARCHAR" />
    <result column="edu_level" property="eduLevel" jdbcType="VARCHAR" />
    <result column="edu_level_values" property="eduLevelValues" jdbcType="VARCHAR" />
    <result column="edu_system" property="eduSystem" jdbcType="VARCHAR" />
    <result column="study_years" property="studyYears" jdbcType="VARCHAR" />
    <result column="recruitment_target" property="recruitmentTarget" jdbcType="VARCHAR" />
    <result column="major_describe" property="majorDescribe" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark_extend" property="remarkExtend" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, major_code, major_name, major_big_category, major_big_category_values, major_category, 
    major_category_values, stu_faculty, stu_faculty_values, edu_type, edu_type_values, 
    edu_level, edu_level_values, edu_system, study_years, recruitment_target, major_describe, 
    remark, remark_extend, create_time, update_time, is_delete
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.deao.dal.daomain.auto.EduMajorModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from edu_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from edu_major
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from edu_major
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.deao.dal.daomain.auto.EduMajorModelExample" >
    delete from edu_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deao.dal.daomain.auto.EduMajorModel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into edu_major (major_code, major_name, major_big_category, 
      major_big_category_values, major_category, 
      major_category_values, stu_faculty, stu_faculty_values, 
      edu_type, edu_type_values, edu_level, 
      edu_level_values, edu_system, study_years, 
      recruitment_target, major_describe, remark, 
      remark_extend, create_time, update_time, 
      is_delete)
    values (#{majorCode,jdbcType=VARCHAR}, #{majorName,jdbcType=VARCHAR}, #{majorBigCategory,jdbcType=VARCHAR}, 
      #{majorBigCategoryValues,jdbcType=VARCHAR}, #{majorCategory,jdbcType=VARCHAR}, 
      #{majorCategoryValues,jdbcType=VARCHAR}, #{stuFaculty,jdbcType=VARCHAR}, #{stuFacultyValues,jdbcType=VARCHAR}, 
      #{eduType,jdbcType=VARCHAR}, #{eduTypeValues,jdbcType=VARCHAR}, #{eduLevel,jdbcType=VARCHAR}, 
      #{eduLevelValues,jdbcType=VARCHAR}, #{eduSystem,jdbcType=VARCHAR}, #{studyYears,jdbcType=VARCHAR}, 
      #{recruitmentTarget,jdbcType=VARCHAR}, #{majorDescribe,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{remarkExtend,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.deao.dal.daomain.auto.EduMajorModel" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into edu_major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="majorCode != null" >
        major_code,
      </if>
      <if test="majorName != null" >
        major_name,
      </if>
      <if test="majorBigCategory != null" >
        major_big_category,
      </if>
      <if test="majorBigCategoryValues != null" >
        major_big_category_values,
      </if>
      <if test="majorCategory != null" >
        major_category,
      </if>
      <if test="majorCategoryValues != null" >
        major_category_values,
      </if>
      <if test="stuFaculty != null" >
        stu_faculty,
      </if>
      <if test="stuFacultyValues != null" >
        stu_faculty_values,
      </if>
      <if test="eduType != null" >
        edu_type,
      </if>
      <if test="eduTypeValues != null" >
        edu_type_values,
      </if>
      <if test="eduLevel != null" >
        edu_level,
      </if>
      <if test="eduLevelValues != null" >
        edu_level_values,
      </if>
      <if test="eduSystem != null" >
        edu_system,
      </if>
      <if test="studyYears != null" >
        study_years,
      </if>
      <if test="recruitmentTarget != null" >
        recruitment_target,
      </if>
      <if test="majorDescribe != null" >
        major_describe,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="remarkExtend != null" >
        remark_extend,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="majorCode != null" >
        #{majorCode,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null" >
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="majorBigCategory != null" >
        #{majorBigCategory,jdbcType=VARCHAR},
      </if>
      <if test="majorBigCategoryValues != null" >
        #{majorBigCategoryValues,jdbcType=VARCHAR},
      </if>
      <if test="majorCategory != null" >
        #{majorCategory,jdbcType=VARCHAR},
      </if>
      <if test="majorCategoryValues != null" >
        #{majorCategoryValues,jdbcType=VARCHAR},
      </if>
      <if test="stuFaculty != null" >
        #{stuFaculty,jdbcType=VARCHAR},
      </if>
      <if test="stuFacultyValues != null" >
        #{stuFacultyValues,jdbcType=VARCHAR},
      </if>
      <if test="eduType != null" >
        #{eduType,jdbcType=VARCHAR},
      </if>
      <if test="eduTypeValues != null" >
        #{eduTypeValues,jdbcType=VARCHAR},
      </if>
      <if test="eduLevel != null" >
        #{eduLevel,jdbcType=VARCHAR},
      </if>
      <if test="eduLevelValues != null" >
        #{eduLevelValues,jdbcType=VARCHAR},
      </if>
      <if test="eduSystem != null" >
        #{eduSystem,jdbcType=VARCHAR},
      </if>
      <if test="studyYears != null" >
        #{studyYears,jdbcType=VARCHAR},
      </if>
      <if test="recruitmentTarget != null" >
        #{recruitmentTarget,jdbcType=VARCHAR},
      </if>
      <if test="majorDescribe != null" >
        #{majorDescribe,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remarkExtend != null" >
        #{remarkExtend,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deao.dal.daomain.auto.EduMajorModelExample" resultType="java.lang.Integer" >
    select count(*) from edu_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update edu_major
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.majorCode != null" >
        major_code = #{record.majorCode,jdbcType=VARCHAR},
      </if>
      <if test="record.majorName != null" >
        major_name = #{record.majorName,jdbcType=VARCHAR},
      </if>
      <if test="record.majorBigCategory != null" >
        major_big_category = #{record.majorBigCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.majorBigCategoryValues != null" >
        major_big_category_values = #{record.majorBigCategoryValues,jdbcType=VARCHAR},
      </if>
      <if test="record.majorCategory != null" >
        major_category = #{record.majorCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.majorCategoryValues != null" >
        major_category_values = #{record.majorCategoryValues,jdbcType=VARCHAR},
      </if>
      <if test="record.stuFaculty != null" >
        stu_faculty = #{record.stuFaculty,jdbcType=VARCHAR},
      </if>
      <if test="record.stuFacultyValues != null" >
        stu_faculty_values = #{record.stuFacultyValues,jdbcType=VARCHAR},
      </if>
      <if test="record.eduType != null" >
        edu_type = #{record.eduType,jdbcType=VARCHAR},
      </if>
      <if test="record.eduTypeValues != null" >
        edu_type_values = #{record.eduTypeValues,jdbcType=VARCHAR},
      </if>
      <if test="record.eduLevel != null" >
        edu_level = #{record.eduLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.eduLevelValues != null" >
        edu_level_values = #{record.eduLevelValues,jdbcType=VARCHAR},
      </if>
      <if test="record.eduSystem != null" >
        edu_system = #{record.eduSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.studyYears != null" >
        study_years = #{record.studyYears,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitmentTarget != null" >
        recruitment_target = #{record.recruitmentTarget,jdbcType=VARCHAR},
      </if>
      <if test="record.majorDescribe != null" >
        major_describe = #{record.majorDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.remarkExtend != null" >
        remark_extend = #{record.remarkExtend,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update edu_major
    set id = #{record.id,jdbcType=INTEGER},
      major_code = #{record.majorCode,jdbcType=VARCHAR},
      major_name = #{record.majorName,jdbcType=VARCHAR},
      major_big_category = #{record.majorBigCategory,jdbcType=VARCHAR},
      major_big_category_values = #{record.majorBigCategoryValues,jdbcType=VARCHAR},
      major_category = #{record.majorCategory,jdbcType=VARCHAR},
      major_category_values = #{record.majorCategoryValues,jdbcType=VARCHAR},
      stu_faculty = #{record.stuFaculty,jdbcType=VARCHAR},
      stu_faculty_values = #{record.stuFacultyValues,jdbcType=VARCHAR},
      edu_type = #{record.eduType,jdbcType=VARCHAR},
      edu_type_values = #{record.eduTypeValues,jdbcType=VARCHAR},
      edu_level = #{record.eduLevel,jdbcType=VARCHAR},
      edu_level_values = #{record.eduLevelValues,jdbcType=VARCHAR},
      edu_system = #{record.eduSystem,jdbcType=VARCHAR},
      study_years = #{record.studyYears,jdbcType=VARCHAR},
      recruitment_target = #{record.recruitmentTarget,jdbcType=VARCHAR},
      major_describe = #{record.majorDescribe,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      remark_extend = #{record.remarkExtend,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deao.dal.daomain.auto.EduMajorModel" >
    update edu_major
    <set >
      <if test="majorCode != null" >
        major_code = #{majorCode,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null" >
        major_name = #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="majorBigCategory != null" >
        major_big_category = #{majorBigCategory,jdbcType=VARCHAR},
      </if>
      <if test="majorBigCategoryValues != null" >
        major_big_category_values = #{majorBigCategoryValues,jdbcType=VARCHAR},
      </if>
      <if test="majorCategory != null" >
        major_category = #{majorCategory,jdbcType=VARCHAR},
      </if>
      <if test="majorCategoryValues != null" >
        major_category_values = #{majorCategoryValues,jdbcType=VARCHAR},
      </if>
      <if test="stuFaculty != null" >
        stu_faculty = #{stuFaculty,jdbcType=VARCHAR},
      </if>
      <if test="stuFacultyValues != null" >
        stu_faculty_values = #{stuFacultyValues,jdbcType=VARCHAR},
      </if>
      <if test="eduType != null" >
        edu_type = #{eduType,jdbcType=VARCHAR},
      </if>
      <if test="eduTypeValues != null" >
        edu_type_values = #{eduTypeValues,jdbcType=VARCHAR},
      </if>
      <if test="eduLevel != null" >
        edu_level = #{eduLevel,jdbcType=VARCHAR},
      </if>
      <if test="eduLevelValues != null" >
        edu_level_values = #{eduLevelValues,jdbcType=VARCHAR},
      </if>
      <if test="eduSystem != null" >
        edu_system = #{eduSystem,jdbcType=VARCHAR},
      </if>
      <if test="studyYears != null" >
        study_years = #{studyYears,jdbcType=VARCHAR},
      </if>
      <if test="recruitmentTarget != null" >
        recruitment_target = #{recruitmentTarget,jdbcType=VARCHAR},
      </if>
      <if test="majorDescribe != null" >
        major_describe = #{majorDescribe,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remarkExtend != null" >
        remark_extend = #{remarkExtend,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deao.dal.daomain.auto.EduMajorModel" >
    update edu_major
    set major_code = #{majorCode,jdbcType=VARCHAR},
      major_name = #{majorName,jdbcType=VARCHAR},
      major_big_category = #{majorBigCategory,jdbcType=VARCHAR},
      major_big_category_values = #{majorBigCategoryValues,jdbcType=VARCHAR},
      major_category = #{majorCategory,jdbcType=VARCHAR},
      major_category_values = #{majorCategoryValues,jdbcType=VARCHAR},
      stu_faculty = #{stuFaculty,jdbcType=VARCHAR},
      stu_faculty_values = #{stuFacultyValues,jdbcType=VARCHAR},
      edu_type = #{eduType,jdbcType=VARCHAR},
      edu_type_values = #{eduTypeValues,jdbcType=VARCHAR},
      edu_level = #{eduLevel,jdbcType=VARCHAR},
      edu_level_values = #{eduLevelValues,jdbcType=VARCHAR},
      edu_system = #{eduSystem,jdbcType=VARCHAR},
      study_years = #{studyYears,jdbcType=VARCHAR},
      recruitment_target = #{recruitmentTarget,jdbcType=VARCHAR},
      major_describe = #{majorDescribe,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      remark_extend = #{remarkExtend,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>