<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deao.dal.dao.auto.EduPianoRoomRecordModelMapper">
  <resultMap id="BaseResultMap" type="com.deao.dal.daomain.auto.EduPianoRoomRecordModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="record_no" jdbcType="VARCHAR" property="recordNo" />
    <result column="stu_id" jdbcType="VARCHAR" property="stuId" />
    <result column="piano_room_id" jdbcType="VARCHAR" property="pianoRoomId" />
    <result column="record_time_id" jdbcType="VARCHAR" property="recordTimeId" />
    <result column="peer" jdbcType="VARCHAR" property="peer" />
    <result column="record_date" jdbcType="DATE" property="recordDate" />
    <result column="record_status" jdbcType="VARCHAR" property="recordStatus" />
    <result column="record_status_values" jdbcType="VARCHAR" property="recordStatusValues" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="remark_extend" jdbcType="VARCHAR" property="remarkExtend" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, record_no, stu_id, piano_room_id, record_time_id, peer, record_date, record_status, 
    record_status_values, start_time, end_time, remark, remark_extend, create_time, update_time, 
    is_delete
  </sql>
  <select id="selectByExample" parameterType="com.deao.dal.daomain.auto.EduPianoRoomRecordModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from edu_piano_room_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edu_piano_room_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_piano_room_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.deao.dal.daomain.auto.EduPianoRoomRecordModelExample">
    delete from edu_piano_room_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deao.dal.daomain.auto.EduPianoRoomRecordModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into edu_piano_room_record (record_no, stu_id, piano_room_id, 
      record_time_id, peer, record_date, 
      record_status, record_status_values, start_time, 
      end_time, remark, remark_extend, 
      create_time, update_time, is_delete
      )
    values (#{recordNo,jdbcType=VARCHAR}, #{stuId,jdbcType=VARCHAR}, #{pianoRoomId,jdbcType=VARCHAR}, 
      #{recordTimeId,jdbcType=VARCHAR}, #{peer,jdbcType=VARCHAR}, #{recordDate,jdbcType=DATE}, 
      #{recordStatus,jdbcType=VARCHAR}, #{recordStatusValues,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{remarkExtend,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.deao.dal.daomain.auto.EduPianoRoomRecordModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into edu_piano_room_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordNo != null">
        record_no,
      </if>
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="pianoRoomId != null">
        piano_room_id,
      </if>
      <if test="recordTimeId != null">
        record_time_id,
      </if>
      <if test="peer != null">
        peer,
      </if>
      <if test="recordDate != null">
        record_date,
      </if>
      <if test="recordStatus != null">
        record_status,
      </if>
      <if test="recordStatusValues != null">
        record_status_values,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="remarkExtend != null">
        remark_extend,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordNo != null">
        #{recordNo,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="pianoRoomId != null">
        #{pianoRoomId,jdbcType=VARCHAR},
      </if>
      <if test="recordTimeId != null">
        #{recordTimeId,jdbcType=VARCHAR},
      </if>
      <if test="peer != null">
        #{peer,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordStatusValues != null">
        #{recordStatusValues,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remarkExtend != null">
        #{remarkExtend,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deao.dal.daomain.auto.EduPianoRoomRecordModelExample" resultType="java.lang.Integer">
    select count(*) from edu_piano_room_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update edu_piano_room_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.recordNo != null">
        record_no = #{record.recordNo,jdbcType=VARCHAR},
      </if>
      <if test="record.stuId != null">
        stu_id = #{record.stuId,jdbcType=VARCHAR},
      </if>
      <if test="record.pianoRoomId != null">
        piano_room_id = #{record.pianoRoomId,jdbcType=VARCHAR},
      </if>
      <if test="record.recordTimeId != null">
        record_time_id = #{record.recordTimeId,jdbcType=VARCHAR},
      </if>
      <if test="record.peer != null">
        peer = #{record.peer,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDate != null">
        record_date = #{record.recordDate,jdbcType=DATE},
      </if>
      <if test="record.recordStatus != null">
        record_status = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatusValues != null">
        record_status_values = #{record.recordStatusValues,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.remarkExtend != null">
        remark_extend = #{record.remarkExtend,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update edu_piano_room_record
    set id = #{record.id,jdbcType=INTEGER},
      record_no = #{record.recordNo,jdbcType=VARCHAR},
      stu_id = #{record.stuId,jdbcType=VARCHAR},
      piano_room_id = #{record.pianoRoomId,jdbcType=VARCHAR},
      record_time_id = #{record.recordTimeId,jdbcType=VARCHAR},
      peer = #{record.peer,jdbcType=VARCHAR},
      record_date = #{record.recordDate,jdbcType=DATE},
      record_status = #{record.recordStatus,jdbcType=VARCHAR},
      record_status_values = #{record.recordStatusValues,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      remark_extend = #{record.remarkExtend,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deao.dal.daomain.auto.EduPianoRoomRecordModel">
    update edu_piano_room_record
    <set>
      <if test="recordNo != null">
        record_no = #{recordNo,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="pianoRoomId != null">
        piano_room_id = #{pianoRoomId,jdbcType=VARCHAR},
      </if>
      <if test="recordTimeId != null">
        record_time_id = #{recordTimeId,jdbcType=VARCHAR},
      </if>
      <if test="peer != null">
        peer = #{peer,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        record_date = #{recordDate,jdbcType=DATE},
      </if>
      <if test="recordStatus != null">
        record_status = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordStatusValues != null">
        record_status_values = #{recordStatusValues,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remarkExtend != null">
        remark_extend = #{remarkExtend,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deao.dal.daomain.auto.EduPianoRoomRecordModel">
    update edu_piano_room_record
    set record_no = #{recordNo,jdbcType=VARCHAR},
      stu_id = #{stuId,jdbcType=VARCHAR},
      piano_room_id = #{pianoRoomId,jdbcType=VARCHAR},
      record_time_id = #{recordTimeId,jdbcType=VARCHAR},
      peer = #{peer,jdbcType=VARCHAR},
      record_date = #{recordDate,jdbcType=DATE},
      record_status = #{recordStatus,jdbcType=VARCHAR},
      record_status_values = #{recordStatusValues,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      remark_extend = #{remarkExtend,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>